###  Introduction to PySpark
PySpark was introduced to support Spark with Python Language. The PySpark API mostly contains the functionalities of Scikit-learn and Pandas Libraries of Python. In fact, the latest version of PySpark has computational power matching to Spark written in Scala. Dataframes in PySpark can be created primarily in two ways:
- From an existing Resilient Distributed Dataset (RDD), which is a fundamental data structure in Spark
- From external file sources, such as CSV, TXT, JSON

First, we will install the pyspark library

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\monpc\desktop\01-imenbh\projects\pyspark\pyenv\lib\site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\monpc\desktop\01-imenbh\projects\pyspark\pyenv\lib\site-packages (from pyspark) (0.10.9.5)

[notice] A new release of pip available: 22.3 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('datasets/EmployeeSampleData.csv')

In [5]:
df

,Employee ID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Unnamed: 10
0,E02002,Kai Le,Controls Engineer,Engineering,Manufacturing,Male,Asian,47,2/5/2022,"$92,368",NaN
1,E02003,Robert Patel,Analyst,Sales,Corporate,Male,Asian,58,10/23/2013,"$45,703",NaN
2,E02004,Cameron Lo,Network Administrator,IT,Research & Development,Male,Asian,34,3/24/2019,"$83,576",NaN

In [21]:
type(df)

pandas.core.frame.DataFrame

### Create PySpark DataFrame From an Existing RDD

First create an RDD using the .parallelize() method and then convert it into a PySpark DataFrame using the .createDatFrame() method of SparkSession.

#### Importing the Libraries
To start using PySpark, we first need to create a Spark Session. A spark session can be created by importing a library.

In [33]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

#### Creating a SparkContext
Using the .getOrCreate() method of SparkContext to create a SparkContext for our exercise. The .getOrCreate() method will create and instantiate SparkContext into our variable sc or will fetch the old one if already created before.

In [34]:
sc = SparkContext.getOrCreate()

#### Create a SparkSession

SparkSession is an entry point to underlying PySpark functionality in order to programmatically create PySpark RDD (Resilient Data Structure), DataFrame. Itâ€™s object spark is default available in pyspark-shell and it can be created programmatically using SparkSession.
You can create as many SparkSession as you want in a PySpark application using either SparkSession.builder() or SparkSession.newSession(). Many Spark session objects are required when you wanted to keep PySpark tables (relational entities) logically separated.

In [6]:
from pyspark.sql import SparkSession

Given the name to the Application by passing a string to .appName() as an argument. Next, used .getOrCreate() which will create and instantiate SparkSession into the object spark. Using the .getOrCreate() method would use an existing SparkSession if one is already present else will create a new one.

In [11]:
spark=SparkSession.builder.appName('Projects').getOrCreate()

In [12]:
spark

SparkSession also includes all the APIs available in different contexts :

- SparkContext,
- SQLContext,
- StreamingContext,
- HiveContext.

#### Creating a Resilient Data Structure (RDD)
Using the .parallelize() method of SparkContext sc which took the tuples of marks of students.Then converting this RDD into a PySpark Dataframe. Passed numSlices value to 4 which is the number of partitions the data would parallelize into.

In [39]:
rdd = sc.parallelize([('C',85,76,87,91), ('B',85,76,87,91), ("A", 85,78,96,92), ("A", 92,76,89,96)], 4)

In [40]:
print(type(rdd))

<class 'pyspark.rdd.RDD'>

To verify if the RDD creation is successful by checking the datatype of the variable rdd. On executing this, it gets pyspark.rdd.RDD

#### Converting the RDD into PySpark DataFrame
Here, The .createDataFrame() method from SparkSession spark takes data as an RDD, a Python list or a Pandas DataFrame. Here passing the RDD as data. Also created a list of strings sub which will be passed into schema attribute of .createDataFrame() method.

In [41]:
sub = ['Division','English','Mathematics','Physics','Chemistry']

marks_df = spark.createDataFrame(rdd, schema=sub)

print(type(marks_df))

Using the .read() methods of SparkSession to import our external Files. This will return a Spark Dataframe object. The external files format that can be imported includes JSON, TXT or CSV. The methods to import each of this file type is almost same and one can import them with no efforts. Unlike the previous method of creating PySpark Dataframe from RDD, this method is quite easier and requires only Spark Session.

### Create PySpark DataFrame From an External File
Use option to get the head colomns
Using the .read() methods of SparkSession to import the external Files. This will return a Spark Dataframe object. The external files format that can be imported includes JSON, TXT or CSV. The methods to import each of this file type is almost same and one can import them with no efforts. Unlike the previous method of creating PySpark Dataframe from RDD, this method is quite easier and requires only Spark Session.

In [13]:
df_pyspark= spark.read.csv('datasets/EmployeeSampleData.csv')

In [17]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string]

Use the .show() to view the contents of the file method on the PySpark Dataframe object. This will display the top 20 rows of our PySpark DataFrame.

In [16]:
df_pyspark.show()

+-----------+------------+--------------------+-----------+--------------------+------+---------+---+----------+-------------+----+
|        _c0|         _c1|                 _c2|        _c3|                 _c4|   _c5|      _c6|_c7|       _c8|          _c9|_c10|
+-----------+------------+--------------------+-----------+--------------------+------+---------+---+----------+-------------+----+
|Employee ID|   Full Name|           Job Title| Department|       Business Unit|Gender|Ethnicity|Age| Hire Date|Annual Salary|null|
|     E02002|      Kai Le|   Controls Engineer|Engineering|       Manufacturing|  Male|    Asian| 47|  2/5/2022|     $92,368 |null|
|     E02003|Robert Patel|             Analyst|      Sales|           Corporate|  Male|    Asian| 58|10/23/2013|     $45,703 |null|
|     E02004|  Cameron Lo|Network Administr...|         IT|Research & Develo...|  Male|    Asian| 34| 3/24/2019|     $83,576 |null|
+-----------+------------+--------------------+-----------+--------------------+------+---------+---+----------+-------------+----+

In [18]:
spark.read.option('header','true').csv('datasets/EmployeeSampleData.csv')

DataFrame[Employee ID: string, Full Name: string, Job Title: string, Department: string, Business Unit: string, Gender: string, Ethnicity: string, Age: string, Hire Date: string, Annual Salary: string, _c10: string]

In [19]:
spark.read.option('header','true').csv('datasets/EmployeeSampleData.csv').show()

+-----------+------------+--------------------+-----------+--------------------+------+---------+---+----------+-------------+----+
|Employee ID|   Full Name|           Job Title| Department|       Business Unit|Gender|Ethnicity|Age| Hire Date|Annual Salary|_c10|
+-----------+------------+--------------------+-----------+--------------------+------+---------+---+----------+-------------+----+
|     E02002|      Kai Le|   Controls Engineer|Engineering|       Manufacturing|  Male|    Asian| 47|  2/5/2022|     $92,368 |null|
|     E02003|Robert Patel|             Analyst|      Sales|           Corporate|  Male|    Asian| 58|10/23/2013|     $45,703 |null|
|     E02004|  Cameron Lo|Network Administr...|         IT|Research & Develo...|  Male|    Asian| 34| 3/24/2019|     $83,576 |null|
+-----------+------------+--------------------+-----------+--------------------+------+---------+---+----------+-------------+----+

In [20]:
df_pyspark=spark.read.option('header','true').csv('datasets/EmployeeSampleData.csv')

In [22]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [24]:
df_pyspark.head(2)

[Row(Employee ID='E02002', Full Name='Kai Le', Job Title='Controls Engineer', Department='Engineering', Business Unit='Manufacturing', Gender='Male', Ethnicity='Asian', Age='47', Hire Date='2/5/2022', Annual Salary='$92,368 ', _c10=None),
 Row(Employee ID='E02003', Full Name='Robert Patel', Job Title='Analyst', Department='Sales', Business Unit='Corporate', Gender='Male', Ethnicity='Asian', Age='58', Hire Date='10/23/2013', Annual Salary='$45,703 ', _c10=None)]

#### Schema of PySpark DataFrame
useful when we have tens or hundreds of columns.

In [26]:
df_pyspark.printSchema()

root
 |-- Employee ID: string (nullable = true)
 |-- Full Name: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Business Unit: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Ethnicity: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Hire Date: string (nullable = true)
 |-- Annual Salary: string (nullable = true)
 |-- _c10: string (nullable = true)